<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>DogBreeds</key>
    <array>
        <dict>
            <key>Name</key>
            <string>None</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Affenpinscher</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Afghan Hound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Airedale Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Akita</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Alaskan Malamute</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>American English Coonhound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>American Eskimo Dog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>American Foxhound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>American Staffordshire Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>American Water Spaniel</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Anatolian Shepherd Dog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Australian Cattle Dog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Australian Shepherd</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Australian Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Basenji</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Basset Hound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Beagle</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Bearded Collie</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Beauceron</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Bedlington Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Belgian Malinois</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Belgian Sheepdog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Belgian Tervuren</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Bergamasco</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Bernese Mountain Dog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Bichon Frise</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Black Russian Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Black and Tan Coonhound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Bloodhound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Bluetick Coonhound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Boerboel</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Border Collie</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Border Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Borzoi</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Boston Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Bouvier des Flandres</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Boxer</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Boykin Spaniel</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Briard</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Brittany</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Brussels Griffon</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Bull Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Bulldog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Bullmastiff</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Cairn Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Canaan Dog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Cane Corso</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Cardigan Welsh Corgi</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Cavalier King Charles Spaniel</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Cesky Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Chesapeake Bay Retriever</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Chihuahua</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Chinese Crested</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Chinese Shar-Pei</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Chinook</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Chow Chow</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Cirneco dell'Etna</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Clumber Spaniel</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Cocker Spaniel</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Collie</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Coton de Tulear</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Curly-Coated Retriever</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Dachshund</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Dalmatian</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Dandie Dinmont Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Doberman Pinscher</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Dogue de Bordeaux</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>English Cocker Spaniel</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>English Foxhound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>English Setter</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>English Springer Spaniel</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>English Toy Spaniel</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Entlebucher Mountain Dog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Field Spaniel</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Finnish Lapphund</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Finnish Spitz</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Flat-Coated Retriever</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>French Bulldog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>German Pinscher</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>German Shepherd Dog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>German Shorthaired Pointer</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>German Wirehaired Pointer</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Giant Schnauzer</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Glen of Imaal Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Golden Retriever</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Gordon Setter</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Great Dane</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Great Pyrenees</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Greater Swiss Mountain Dog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Greyhound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Harrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Havanese</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Ibizan Hound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Icelandic Sheepdog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Irish Red and White Setter</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Irish Setter</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Irish Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Irish Water Spaniel</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Irish Wolfhound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Italian Greyhound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Japanese Chin</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Keeshond</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Kerry Blue Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Komondor</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Kuvasz</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Labrador Retriever</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Lakeland Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Leonberger</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Lhasa Apso</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Lowchen</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Maltese</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Manchester Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Mastiff</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Miniature Bull Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Miniature Pinscher</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Miniature Schnauzer</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Neapolitan Mastiff</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Newfoundland</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Norfolk Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Norwegian Buhund</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Norwegian Elkhound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Norwegian Lundehund</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Norwich Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Nova Scotia Duck Tolling Retriever</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Old English Sheepdog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Otterhound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Papillon</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Parson Russell Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Pekingese</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Pembroke Welsh Corgi</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Petit Basset Griffon Vendeen</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Pharaoh Hound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Plott</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Pointer</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Polish Lowland Sheepdog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Pomeranian</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Poodle</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Portuguese Podengo Pequeno</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Portuguese Water Dog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Pug</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Puli</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Pyrenean Shepherd</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Rat Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Redbone Coonhound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Rhodesian Ridgeback</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Rottweiler</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Russell Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Saluki</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Samoyed</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Schipperke</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Scottish Deerhound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Scottish Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Sealyham Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Shetland Sheepdog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Shiba Inu</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Shih Tzu</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Siberian Husky</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Silky Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Skye Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Smooth Fox Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Soft Coated Wheaten Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Spanish Water Dog</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Spinone Italiano</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>St. Bernard</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Staffordshire Bull Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Standard Schnauzer</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Sussex Spaniel</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Swedish Vallhund</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Tibetan Mastiff</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Tibetan Spaniel</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Tibetan Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Toy Fox Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Treeing Walker Coonhound</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Vizsla</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Weimaraner</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Welsh Springer Spaniel</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Welsh Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>West Highland White Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Whippet</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Wire Fox Terrier</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Wirehaired Pointing Griffon</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Wirehaired Vizsla</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Xoloitzcuintli</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>Yorkshire Terrier</string>
        </dict>
    </array>
</dict>
</plist>